body {
    padding: 0;
    margin: 0;
    color: #000;
}

.user-profile .card {
    border-radius: 10px;
}

.user-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.user-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.user-profile .card p {
    font-size: 16px;
    color: #000;
}

.user-profile .table th,
.user-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.avatar{
    position: relative;
}
.change_avt{
    cursor: pointer;
    position: absolute;
    bottom: 6%;
    right: 30%;
}
.change_avt .fa-camera{
    font-size: 16px;
    background-color: #c6e4ff;
    color: #002463;
    padding: 10px;
    border-radius: 50%;
}
#avatar{
    /* display: none; */
}